

body {
    background-color: lightsteelblue;   
    Border-radius: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    h2{
        text-align: left;
        font-size: 20px;
        box-shadow: 3px 3px 3px #000; 
        background-size: 50px;
        background-color: lightslategrey;
        padding-right: 200px;
        
        
    }
    .data{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
        
    }
    .contact:hover{
        text-align: left;
        font: monospace;
        font-size: 15px;
        background-color: rgb(136, 126, 126);
        padding-right: 50px;
        
    }
    .contact{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }
    .experience{
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }
    .education{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }

    .recommendation{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }
    .interest{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }
    .hour{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }
    .salary{
        text-align: left;
        font-size: 15px;
        background-color: darkgrey;
        padding-right: 50px;
    }